@font-face {
    font-family: 'Georgia-Italic';
    src: url('../fonts/Georgia-Italic.eot');
    src: local('Georgia Italic'), local('Georgia-Italic'),
    url('../fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Georgia-Italic.woff') format('woff'),
    url('../fonts/Georgia-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1250px;
}

/*------------ Common Style ------------------*/

.section-title {
    font-weight: bold;
    font-size: 30px;
    color: #28477d;
    margin-bottom: 35px;

}

.section-title-small {
    font-size: 28px;
    font-weight: 600;
    color: #28477d;
}

input {
    outline: none;
}

.small-font {
    font-size: 14px!important;
}

.default-font {
    font-size: 16px !important;
}

.big-font {
    font-size: 18px;
}

.largest-font {
    font-size: 28px;
}

.bigger-font {
    font-size: 35px;
}

.dark-color {
    color: #515151;
}

.blue-color {
    color: #28477d;
}

.darkblue-color {
    color: #1a254f;
}

.after-orange-line:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 96px;
    height: 2px;
    background-color: #ff7b0f;
}

.after-orange-line-center:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 46%;
    width: 96px;
    height: 2px;
    background-color: #ff7b0f;
}

/*---------- Style for Header -------------*/
.header__logo {
    padding: 16px 15px;
}

/*-------- Style for Hero section -----------*/

.hero__title {
    padding: 22px 15px;
    background-color: #28477d;
}

.h1 {
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 1.3px;
}

.hero__form {
    position: relative;
    max-height: 586px;
    background-color: #e1eaf2;
    padding: 76px 0;
}

.hero_bg {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 60%;
    height: 100%;
}

.hero__form-wrapper {
    position: relative;
    z-index: 10;
    background: #28477d;
    max-width: 500px;
    padding: 27px 35px 30px;
    border-radius: 5px;
    margin-right: 15px;
}

.hero__form-wrapper label {
    margin: 0 0 0 6px;
}

.hero__form-wrapper input {
    height: 40px;
    margin-bottom: 7px;
}

.first-name, .last-name {
    min-width: 210px;
}

.form__title {
    font-size: 26px;
}

.btn:hover {
    color: #ffffff;
}

.btn:focus {
    box-shadow: none;
}

.form__btn {
    background: #ff7b0f;
    color: #ffffff;
    font-size: 18px;
    padding: 21px 0;
    border-radius: 5px;
    vertical-align: middle;
}

.privacy {
    color: #28477d;
    text-decoration: underline;
    font-size: 14px;
}

/*----- Style for About section ------*/

.about {
    background: #e8ebed;
    padding: 70px 0 50px 0;
}

.about__wrap {
    background-color: #fff;
    padding: 35px 10px 30px 31px;
    margin-bottom: 37px;
    box-shadow: 0 0 17px -9px rgba(0, 0, 0, 0.75);

}

.about__p {
    font-size: 16px;
    color: #515151;
}

.about__advantages li {
    position: relative;
    padding-left: 5px;
}

.about__advantages li:before {
    content: '';
    position: absolute;
    background: url(../img/marker_icon.png) no-repeat;
    width: 20px;
    height: 20px;
    top: 7px;
    left: -15px;

}

.guarantee_p {
    line-height: 1.2;
}

.partners-title {
    color: #616d75;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 34px;
}

/*-------- Style for card-carousel section ------*/

.card-carousel {
    padding: 60px 0 51px 0;
}

.invest {
    border: 1px solid #c1c1c1;
    padding: 25px 35px 10px;
    margin-bottom: 37px;
}

/*---- Style for card-carousel__card ------*/
.swipper__card-carousel {
    padding-bottom: 12px;
}

.swiper-button-wrapper {
    max-width: 1360px;
    margin: auto;
    bottom: 193px;
}

.swiper-button-wrapper-investor {
    top: 230px;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
    outline: none;
}

.swiper-button-prev:after {
    content: '';
    height: 40px;
    width: 40px;
    transform: rotate(-45deg);
    color: #545454;
    border-left: 2px solid;
    border-top: 2px solid;
    position: absolute;
    left: 0;
    bottom: 0;
}

.swiper-button-next:after {
    content: '';
    height: 40px;
    width: 40px;
    transform: rotate(-45deg);
    color: #545454;
    border-right: 2px solid;
    border-bottom: 2px solid;
    position: absolute;
    right: 0;
    bottom: 0;

}

.main-card {
    height: 100%;
}

.main-cards__img {
    height: 252px;
}

.main-cards__img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.main-card {
    max-width: 383px;
    box-shadow: 0 0 17px -9px rgba(0, 0, 0, 0.75);
}

.text-card {
    padding: 11px 30px 13px 20px;
}

.text-card span {
    display: block;
    color: #3f3f3f;
    font-size: 14px;
}

/*----- Style for start-invest section -----*/

.start-invest {
    background: #e8ebed;
    padding: 45px 0;
    margin-bottom: 6px;
}

.start-invest__content {
    padding-left: 32px;
}

.start-invest__title {
    margin-bottom: 35px;
}

.start-invest__p-margin {
    margin-bottom: 35px;
}

/*-------- Style for investors section -----------*/
.investors {
    margin-bottom: 86px;
}


.investors_img-wrapper {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.investors__card-text {
    font-family: 'Georgia-Italic';
    padding: 0 20px;
}

/*-------- Style for management section -----------*/

.management {
    padding: 50px 0;
    background: #e8ebed;

}
.management__btn {
    min-width: 310px;
}

.management__text {
    margin-bottom: 38px;
}


/*-------- Style for footer -----------*/

.footer {
    padding: 26px 0;
}
.footer .nav {
    font-size: 14px;
    letter-spacing: 0.3px;
}
.footer li {
    margin-bottom: 6px;

}

.footer__btn {
    color: #ffffff!important;
}
.footer a {
    color: #a3a2a2;
    text-decoration: none;
}
.footer__copyright {
    color: #a3a2a2;
}


.nav__business {
    margin-left: 57px;
}

.nav__aboutUs {
    margin-left: 49px;
}

.nav__learn {
    margin-left: 55px;
}

.nav__services {
    margin-left: 50px;
}

.nav__contact {
    margin-left: 53px;
}

.nav__questions {
    margin-left: 50px;
}

.footer__btn:before {
    font-family: "FontAwesome";
    content: '\f0e5';
    font-size: 20px;
    margin-right: 10px;
    transform: rotateY(180deg);
    display: inline-block;
}

.footer__btn {
    padding: 10px 18px;
    line-height: 1;
}

.footer__social a {
    font-size: 25px;
    margin-right: 24px;

}


















